:root {
  --cor0: #ffffff;
  --cor1: #f7f7f7;
  --cor2: #e0e0e0;
  --cor3: #c8c8c8;
  --cor4: #aeaeae;
  --cor5: #949494;
  --cor6: #7d7d7d;
  --cor7: #606060;
  --cor8: #464646;
  --cor9:#272727;
  --cor10: #2e2e2e;
  --cor11: #111111;
  --cor12: #000000;
  --corP1: #ffbb00;
  --corP2: #E7A50C;
  --corP3: #a66f00;
  --corP4: #714A03;
  --corP5: #331f01:
}

.cor0 {
  color: var(--cor0);
}
.cor1 {
  color: var(--cor1)
}
.cor2 {
  color: var(--cor2)
}
.cor3 {
  color: var(--cor3);
}
.cor4 {
  color: var(--cor4);
}
.cor5 {
  color: var(--cor5);
}
.cor6 {
  color: var(--cor6);
}
.cor7 {
  color: var(--cor7);
}
.cor8 {
  color: var(--cor8);
}
.cor9 {
  color: var(--cor9);
}
.cor10 {
  color: var(--cor10);
}
.cor11 {
  color: var(--cor11);
}
.cor12 {
  color: var(--cor12);
}
.corP1 {
  color: var(--corP1)
}
.corP2 {
  color: var(--corP2)
}
.corP3 {
  color: var(--corP3)
}
.corP4 {
  color: var(--corP4)
}
.corP5 {
  color: var(--corP5)
}